In [1]:
import pandas as pd

In [28]:
population_by_bundesland = pd.read_excel('report_population.xlsx')

/opt/anaconda3/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [29]:
population_by_bundesland[4::]

,Bevölkerung nach Geschlecht und Altersgruppen (17) -\nStichtag 31.12. - regionale Ebenen,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
4,01,Schleswig-Holstein,unter 3 Jahre,69631,35776,33855
5,NaN,NaN,3 bis unter 6 Jahre,79708,40914,38794
6,NaN,NaN,6 bis unter 10 Jahre,111893,57302,54591
7,NaN,NaN,10 bis unter 15 Jahre,136365,69788,66577
8,NaN,NaN,15 bis unter 18 Jahre,84838,44025,40813
...,...,...,...,...,...,...
330,Rheinland-Pfalz (ab 2011): Gebietsstand des Fo...,NaN,NaN,NaN,NaN,NaN
331,Sachsen-Anhalt (2013): Gebietsstand 01.01.2014,NaN,NaN,NaN,NaN,NaN
332,© Statistische Ämter des Bundes und der Länder...,NaN,NaN,NaN,NaN,NaN
333,Dieses Werk ist lizenziert unter der Datenlize...,NaN,NaN,NaN,NaN,NaN
334,- Namensnennung - Version 2.0. | Stand: 13.10....,NaN,NaN,NaN,NaN,NaN

In [ ]:
#disposable income of private households per capita in Germany by State web scraping

In [30]:
from bs4 import BeautifulSoup
import requests

In [31]:
url = 'https://de.statista.com/statistik/daten/studie/255174/umfrage/verfuegbares-einkommen-privater-haushalte-je-einwohner-in-den-bundeslaendern/'
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Apple M4; Mac OS X 14_7_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36"
}
response = requests.get(url, headers = headers)
soup = BeautifulSoup(response.content, 'html.parser')

In [43]:
table = soup.select_one("table.dataTable")
if table is None:
    raise RuntimeError("Couldn't find the data table. The page may require JS rendering or be blocked.")

RuntimeError: Couldn't find the data table. The page may require JS rendering or be blocked.

In [42]:
names = [
    td.get_text(strip=True)
    for td in table.select("tbody tr td:nth-of-type(1)")
    if td.get_text(strip=True)
]

AttributeError: 'NoneType' object has no attribute 'select'

In [52]:
#webscraping padel courts

In [51]:
url = 'https://playtomic.com/nl/clubs/grenzallee-padel?utm_source=chatgpt.com'
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Apple M4; Mac OS X 14_7_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36"
}
response = requests.get(url, headers = headers)
soup = BeautifulSoup(response.content, 'html.parser')

In [56]:
table = soup.select_one("table.dataTable")
if table is None:
    raise RuntimeError("Couldn't find the data table. The page may require JS rendering or be blocked.")

RuntimeError: Couldn't find the data table. The page may require JS rendering or be blocked.

In [ ]:
#disposable income manual input based on website

In [49]:
diposable_income_ph_pc = [
    ("Bavaria",                         31525),
    ("Baden-Württemberg",               30242),
    ("Hamburg",                         29620),
    ("Schleswig-Holstein",              29395),
    ("Hesse",                           28826),
    ("Germany",                         28452),
    ("Rhineland-Palatinate",            28005),
    ("North Rhine-Westphalia",          27754),
    ("Lower Saxony",                    27536),
    ("Brandenburg",                     26440),
    ("Berlin",                          26209),
    ("Saarland",                        26168),
    ("Bremen",                          26048),
    ("Saxony",                          25746),
    ("Thuringia",                       25736),
    ("Mecklenburg-Western Pomerania",   25321),
    ("Saxony-Anhalt",                   25094),
]

disposable_income = pd.DataFrame(diposable_income_ph_pc, columns=["State", "Disposable_Income"])

In [57]:
disposable_income

                            State  Disposable_Income
0                         Bavaria              31525
1               Baden-Württemberg              30242
2                         Hamburg              29620
3              Schleswig-Holstein              29395
4                           Hesse              28826
5                         Germany              28452
6            Rhineland-Palatinate              28005
7          North Rhine-Westphalia              27754
8                    Lower Saxony              27536
9                     Brandenburg              26440
10                         Berlin              26209
11                       Saarland              26168
12                         Bremen              26048
13                         Saxony              25746
14                      Thuringia              25736
15  Mecklenburg-Western Pomerania              25321
16                  Saxony-Anhalt              25094